/*body {*/
/*    background-color: antiquewhite;*/
/*    width: 900px;*/
/*    height: 300px;}*/
body{
    /*display: flex;*/
    margin-top: 20px;
    margin-left: 50px;
    width: 700px;
    height: 400px;
    padding-top: 20px;
color: lightcoral;
    background-color: antiquewhite;
    border: 3px deeppink solid;

}
.c1{
    /*margin-right: 600px;*/
    /*margin-top: 50px;*/
    width: 200px;
    float: right;
    /*align-self: center;*/


}
#add{
width: 270px;
}
#boutton{
    background-color: lightcoral;
    width: 120px;
    margin-top: 20px;
}
/*div{*/
/*    margin-top: 50px;*/
/*    margin-left:160px;*/
/*    width: 50px;*/
/*    align-self: center;*/
/*    overflow: hidden;*/
/*    display:block;*/
/*}*/